
.github/*

# System Files
.DS_Store
Thumbs.db

# Python cache files
__pycache__/
*/__pycache__/

# Compiled Python files
*.cpython-*

# Documentation
doc/*
!doc/*.md

# Testing Data
testing/*/

# egg
ptirtools.egg-info/
